<div class="row" ng-hide="entry._id">
  <div class="col-md-6">
      <h2>Entry details</h2>
  </div>
</div>
<div class="container">
  <div>
    <p>
      <label>Board Name (required)</label> 
      <input id="name" class="form-control" type="text" ng-model="entry.boardName" required> 
    </p>
    <p>
      <label>Board Code (from url - required)</label> 
      <input id="name" class="form-control" type="text" ng-model="entry.boardCode" required> 
    </p>
    <p>
      <button type="button" class="btn btn-primary ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched" 
                  ng-model="entry.enabled" uib-btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false">
        Single Toggle
    </button>
      <label>Enabled</label><ng-md-icon icon="check_box"></ng-md-icon> 
      <input type="checkbox" id="chkEnabled" ng-model="entry.enabled">
      -:-
      <label>Live</label><ng-md-icon icon="live-circle"></ng-md-icon> 
      <input type="checkbox" id="chkLive" ng-model="entry.live">
      -:-
      <label>Cards or checklists</label>
      <input type="checkbox" id="chkCards" ng-model="entry.cards">
      -:-
      <label>Hourly option</label>
      <input type="checkbox" id="chkHourly" ng-model="entry.hourly">
    </p>
    <p>
      <label>Chart title</label> 
      <input id="name" class="form-control" type="text" ng-model="entry.chartName" required> 
    </p>
    <p>
      <label>Board Id</label> 
      <input id="name" class="form-control" type="text" ng-model="entry.boardId" required> 
    </p>
    <p>
      <label>Email</label> 
      <input id="name" class="form-control" type="text" ng-model="entry.contact.email" required> 
    </p>
    <p>
      <label>Phone (Mobile)</label> 
      <input id="name" class="form-control" type="text" ng-model="entry.contact.mobile"> 
    </p>
    <p>
      <input type="date" id="dateStart" name="startDate" ng-model="entry.start"
       placeholder="yyyy-MM-dd" min="2016-01-01T23:00:00.000Z" max="2018-01-01T23:00:00.000Z" required />
    </p>
    <p>
      <input type="date" id="dateEnd" name="endDate" ng-model="entry.end"
       min="2016-01-01T23:00:00.000Z" max="2018-01-01T23:00:00.000Z" required />
    </p>
    <p>
      <button style="margin-top:20px" class="btn btn-default" ng-click="saveEntry(entry)">Save</button>
      <button style="margin-top:20px" class="btn btn-default" ng-click="back()">Back</button>
    </p>
  </div>
</div>
