<div class="row" ng-hide="entry._id">
  <div class="col-md-6">
      <h2>Entry details</h2>
  </div>
</div>
<div class="container">
  <div>
    <p>
      <label>Board Name (required)</label> 
      <input id="name" class="form-control" type="text" ng-model="entry.boardName" required> 
    </p>
    <p>
      <label>Board Code (from url - required)</label> 
      <input id="name" class="form-control" type="text" ng-model="entry.boardCode" required> 
    </p>
    <p>
      <label>Enabled</label>
      <input type="checkbox" id="chkEnabled" ng-model="entry.enabled">
    </p>
    <p>
      <label>Chart title</label> 
      <input id="name" class="form-control" type="text" ng-model="entry.chartName" required> 
    </p>
    <p>
      <label>Board Id</label> 
      <input id="name" class="form-control" type="text" ng-model="entry.boardId" required> 
    </p>
    <p>
      <label>Email</label> 
      <input id="name" class="form-control" type="text" ng-model="entry.contact.email" required> 
    </p>
    <p>
      <label>Phone (Mobile)</label> 
      <input id="name" class="form-control" type="text" ng-model="entry.contact.mobile"> 
    </p>
    <p>
      <input type="date" id="dateStart" name="startDate" ng-model="entry.start"
       placeholder="yyyy-MM-dd" min="2016-01-01" max="2020-12-31" required />
    </p>
    <p>
      <input type="date" id="dateEnd" name="endDate" ng-model="entry.end"
       min="2016-01-01" max="2020-12-31" required />
    </p>
    <p>
      <label>Hourly option</label>
      <input type="checkbox" id="cbox1" ng-model="entry.hourly">
    </p>
    <p>
      <button style="margin-top:20px" class="btn btn-default" ng-click="saveEntry(entry)">Save</button>
      <button style="margin-top:20px" class="btn btn-default" ng-click="back()">Back</button>
    </p>
  </div>
</div>
